.Channels > h2 {
    color: white;
}

.Channels > .Divider {
    height: 1px;
    border: 0;
    border-top: 1px solid grey;
}

.ChannelDetails > p {
    font-weight: 400;
    color: lightgrey;
}

.TagDetails {
    word-wrap: break-word;
    word-break: break-all;
    line-height: 30px;
}

.Title {
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    color: lightgrey;
}

.Title:hover {
    color: white;
}

table > thead > tr > th {
    border-color: transparent !important;
    color: white !important;
}

table > thead > tr > th {
    background-color: #25262b !important;
}

table > tbody > tr > td {
    border-color: transparent !important;
}

table > tbody > tr > td {
    background-color: #25262b !important;
}