@import '~antd/dist/antd.css';

.App {
  background-color: white;
  height: 100%;
}

.MainContainer {
  padding: 0;
  height: 100vh;
}

.ContentContainer {
    margin: 12px;
    padding: 12px;
    background-color: white;
    height: 80vh;
    overflow: hidden;
    word-wrap: break-word;
}

.ContentContainer:hover {
  overflow-y: scroll;
}

.ContentContainer::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.ContentContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.ContentContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
