@import "~antd/dist/antd.css";

.App {
  background-color: white;
  height: 100%;
}

aside .ant-layout-sider .ant-layout-sider-dark .ant-layout-sider-collapsed {
  width: 50px !important;
}

.ant-layout .MainContainer {
  padding: 0;
  background-color: black;
  width: 100%;
}

.ant-layout > .ant-layout-sider .ant-layout-sider-dark .ant-layout-sider-collapsed {
  width: 50px !important;
  min-width: 50px !important;
  max-width: 50px !important;
  flex: 0 0 50px !important
}

.SideContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ContentContainer {
  margin: 10px 5px 10px 0px;
  padding: 25px;
  background-color: #25262b;
  height: 80vh;
  overflow: hidden;
  word-wrap: break-word;
  border-radius: 20px;
}
