@import "~antd/dist/antd.css";

.App {
  background-color: white;
  height: 100%;
}

.ant-layout .MainContainer {
  padding: 0;
  background-color: black;
}

.SideContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ContentContainer {
  padding: 25px;
  background-color: #25262b;
  height: 80vh;
  overflow: hidden;
  word-wrap: break-word;
  margin: 12px;
  border-radius: 20px;
}

.ContentContainer {
  overflow-y: scroll;
  overflow-x: scroll;
}

.ContentContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #25262b;
}

.ContentContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #25262b;
}

.ContentContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
