.ant-tabs-nav::before {
    border-color: transparent !important;
}

.ant-tabs-tab-btn {
    color: grey;
    font-weight: 700;
}

.ant-tabs-tab-btn:hover {
    color: white;
}

.ChannelContent {
    height: 100%;
}

.ChannelContent > .ChannelContentTabs {
    height: 10%
}