.PostList {
  margin-top: 20px;
}

.PostList > .PostListHeader {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  object-fit: contain;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.PostList > .PostListHeader > h3 {
  color: white;
}

.PostList > .PostListChannelTags {
  margin-top: 10px;
  max-height: 10%;
  overflow-y: scroll;
}

.PostList > .PostListChannelTags > .ChannelTags {
  border-radius: 20px;
  margin: 5px 2px;
}

.PostList > .PostListChannelTags::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #25262b;
}

.PostList > .PostListChannelTags::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #25262b;
}

.PostList > .PostListChannelTags::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.PostList > .PostListContent::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #25262b;
}

.PostList > .PostListContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #25262b;
}

.PostList > .PostListContent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.PostList > .Divider {
  height: 1px;
  border: 0;
  border-top: 1px solid lightgrey;
}

@media screen and (max-width: 400px) {
  .PostListContent {
    margin-top: 20px;
    height: 50%;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 400px) and (min-width: 350px) {
  .PostListContent {
    margin-top: 20px;
    height: 60%;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 560px) and (min-width: 400px) {
  .PostListContent {
    margin-top: 20px;
    height: 70%;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 700px) and (min-width: 560px) {
  .PostListContent {
    margin-top: 20px;
    height: 80%;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 700px) {
  .PostListContent {
    margin-top: 20px;
    height: 80%;
    overflow-y: scroll;
  }
}