.Userbar {
    width: 200px;
    padding: 10px;
}

.Userbar > .UserDetails {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
}

.Userbar > .UserDetails > .UserImage {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0.7
}

.Userbar > .UserDetails > .UserName {
    padding: 10px;
    flex: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Userbar > .UserDetails > .UserDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    font-size: 0.5em;
}