.Header {
  padding: 0 !important;
  height: 6vh !important;
  background: #fff !important;
  margin: 0;
  line-height: 5vh !important;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}
