.Logo {
  display: flex;
  height: 8vh !important;
  margin: 16px;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Logo > a {
  color: white;
  text-decoration: none;
}

.Logo > p {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
}

.Logo > svg {
  font-size: 3em;
}
