.Logo {
  display: flex;
  height: 8vh !important;
  margin: 16px;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Logo > a {
  color: white;
  text-decoration: none;
}

.Logo > p {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
}

.Logo > svg {
  font-size: 3em;
}

.ant-layout-sider-children {
  background-color: #421fff;
}

.ant-layout-sider-children > ul {
  background-color: #421fff !important;
}

.ant-menu-item {
  background-color: #421fff;
}

.ant-menu-item-selected {
  background-color: #6a52e9 !important;
}