.Post {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 20px 0px 20px;

  .PostHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .PostedBy {
      color: grey;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 5px;
      flex-wrap: wrap;

      .Author {
        margin-left: 5px;
      }
    }
  }

  .PostContent {
    border-radius: 10px;
    background-color: #f5f8fa;
    padding: 20px;
    color: #666;
  }
}
